.center{
    text-align: center;
}

.headerContainer{
    word-wrap:break-word;
}

.mainContainer{
    background-color: lightblue;
    border-radius:10px;
    padding:30px;
    min-height:250px;
    max-width: 50%;
    margin-bottom:30px;
    vertical-align: middle;
    word-wrap: break-word;
}

.mainContainer *{
    margin:10px;
}

.error{
    color:red;
}

.choiceGroup{
    display:grid;
}

.scoreBoard{
    background-color: whitesmoke;
    border-radius:20px;
    padding: 30px;
    width:150px;
}
